header{
    width: auto;
    height: 4vw;
    margin: 20px;
    background-color: rgb(180, 104, 95);
    border: 10px solid #f0734c;
    text-align: center;
    padding-top: 3vw;
    font-size: 25px;
}

navigation{
    position: absolute;
    width: 37%;
    height: 31.5%;
    background-color: rgb(180, 104, 95);
    border: 10px solid #f0734c;
    margin-left: 20px;
    text-align: center;
    padding-top: 15%;
    font-size: 25px;
}

article{
    margin-left: 40.8%;
    width: 57%;
    height: 3.9vw;
    margin-bottom: 20px;
    background-color: rgb(180, 104, 95);
    font-size: 25px;
    border: 8px solid #f0734c;
    text-align: center;
    padding-top: 5%;
}

footer{
    width: auto;
    margin: 20px;
    background-color: #33a161;
    border: 6px solid #077936;
    text-align: center;
    padding-top: 2%;
    height: 3vw;
    font-size: 25px;
}